[submodule "MerkleAirdrop/lib/forge-std"]
	path = MerkleAirdrop/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "MerkleAirdrop/lib/openzeppelin-contracts"]
	path = MerkleAirdrop/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
